#set-plan-container{
  position: relative;
  top:200px;
  min-width:300px;
  height:fit-content;
  padding:10px 0;
  border-radius: 10px;
  margin-right:10px;;
  border:0.1px solid rgb(129, 128, 128);
  display:flex;
  background-color: rgba(48, 46, 46, 0.87);
  flex-direction: column;
  box-sizing: border-box;
}

.set-plan-button{
  box-sizing: border-box;
  height:55px;
  color:white;
  margin:10px;
  border-radius: 10px;
  border:none;
  font-size: 1.3rem;
}

.balance{
  background-color:rgba(212, 84, 131, 0.68) ;
   
}

#weekly-plan-button{
  background-color: rgba(212, 184, 84, 0.68);
}

.set-plan-button span{
  position: relative;
  bottom:0;
  top:1px;
  font-weight: bold;
  font-size: 1.4rem;
}
