
#this-week-container{
  position: relative;
  top:80px;
  margin:10px;
  width:max-content;
  padding:10px;
  height:max-content;
  display:flex;
  flex-direction: column;
  transition:0.4s ease;
}

#heading{
  color:rgba(255, 255, 255, 0.781);
  font-size: 1.3rem;
  margin:0;
  padding-left:15px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
  width:600px;
  height:70px;
  margin:10px;
  background-color: rgba(162, 75, 175, 0.70);
  border-radius:5px ;
  display:flex;
  flex-direction: row;
  flex-shrink: 1;
  transition:0.4s ease;
}

.left-part{
  display:flex;
  height:100%;
  flex-direction: column;
  margin-right:auto;
  
}

.right-part{
  display:flex;
  flex-direction: row;
}

.date-of-the-week{
  padding:0;
  margin:6px 0px 7px 20px;
  color:rgba(255, 255, 255, 0.692);

}

.day-of-the-week{
  padding:0 0 0 20px;
  margin:0;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position:relative;
}

.income-today{
  font-size: 1.5rem;
  margin:20px;
  color:#4FD25C
}

.expense-today{
  font-size:1.5rem;
  margin:20px;
  color:#ff9f9f;
}

.card:hover{
  padding:5px;
  margin:4px;
  background-color: rgba(162, 75, 175, 0.562);
}

#this-week-container #active{
 margin:2px;
 padding:8px;
 background-color:#B153C0;
 cursor:pointer;
}