.main-sidebar{
  background-color: #5e5262e8;
  width: 225px;
  height: 100%;
  overflow: auto;
  position: relative;
  transition: 0.3s ease;
  left:-100%;
  z-index: 9;
}

#active{
  left:0;
  transition: 0.3s ease;
}

.side-menu-items{
  width:100%;
  padding:0;
  margin: 0;
}

ul{
  list-style: none;
}

.side-menu-items a{
  text-decoration: none;
  display:inline;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.sidebar-text{
  cursor:pointer;
  color: white;
  padding: 20px 20px;
}

.sidebar-text:hover{
  background-color: #473f4973;
}

.span-text{
  padding-left:20px;
  font-size:1.2rem;
  vertical-align: top;
  margin-top:5px;
  position: relative;
  top:2px;
  transition: 0.4s ease;
}

.navbar #inactive .span-text{
  display:none;
}

a #colored{
  background-color:#473f49ec;
  transition:0.4s ease;
}