.home-page{
  height:100vh;
}

.content-space{
  display:flex;
  flex-direction: row;
  height:calc(100% - 72px);
  min-width: 225px;
  box-sizing: border-box;
}

.content{
  background-color: #3D4144;
  width:100%;
  height:calc(100% - 72px);
  position:absolute;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
