.home-page{
  height:100vh;
}

.content-space{
  display:flex;
  flex-direction: row;
  height:100%;
  max-width: 225px;
}

.balance-container{
  background-color: blue;
  width:200px;
  height: 100%;

}

.this-week-container{
  background-color: red;
  width:auto;
  height: 100%;
}