.navbar{
  display:flex;
  flex-direction: column;
  height: 100%;
  transition: 0.4s ease;
}
.main-nav{
  height:70px;
  display:flex;
  background-color: #5E5262;
  border-bottom: 2px solid #3c343d;
  flex:0 1 auto;
}

.left-nav{
  background-color: #5E5262;
  height:100%;
  display:flex;
  justify-content:flex-start;
  margin-right: auto;
}

.expand-button{
  background-color: #5E5262;
  padding:10px;
  margin-left:10px;
  outline: none;
  border:none;
  cursor: pointer;
}

p{
  padding-top: 5px;
  padding-left:5px ;
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left-nav p{
  font-size: 1.25rem;
  font-weight: bold;
}

.right-nav{
  display: flex;
}

.arrow-button{
  background-color:#5E5262 ;
  padding:14px 0px 10px 0px;
  outline: none;
  border:none;
  cursor:pointer;
}

.account-username{
  padding-top:12px;
  margin-right: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-sidebar{
  flex:1 1 auto;
  background-color: #5E5262;
  width: 225px;
  position: relative;
  transition: 0.6s ease;
  left:-100%;
}

#active{
  left:0;
  transition: 0.4s ease;
}

.side-menu-items{
  width:100%;
  padding:0;
  margin: 0;
}

ul{
  list-style: none;
}

li a{
  text-decoration: none;
  display:inline;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.sidebar-text{
  color: white;
  padding: 20px 20px;
}

.sidebar-text:hover{
  background-color: #473F49;
}

.span-text{
  padding-left:20px;
  font-size:1.2rem;
  vertical-align: top;
  margin-top:5px;
  position: relative;
  top:4px;
  transition: 0.4s ease;
}

.navbar #inactive .span-text{
  display:none;
}